@media (min-width:420px){
:root{
    --white: rgb(255, 255, 255,1);
    --black: rgb(0, 0, 0);
    --Very-light-pink: rgb(199, 199, 199);
    --Text-input-field: rgb(247, 247, 247);
    --Hospital-green: rgb(172, 217, 178);
    --Font-family-Quicksand:"Quicksand", sans-serif;
    --Font-family-Roboto: "Roboto", sans-serif;
    --tont-family-tex-gris: rgba(121,121,121,1);
    }
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        width: 100vw;
    }
    header{
        width: 100vw;
    }
    section{
        height: auto;
    }
    .contenido{
        height: auto;
        display: flex;
        flex-direction: row;
    }
    .primer{
        order: 1;
        width: 50%; 
        height: 250px;
    }
    .imagen{
        width: 50%;
        height: 250px;
        overflow: hidden;
        height: auto;
        position: relative;
    }
    .loguito{
        width: 96%;
        height: auto;
        max-width: 100%;
    }
    .primer h1{
        width: 172px;
        max-width: 100%;
        margin: 0 auto;
    }
    .botones{
        width: 172px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 27px;
        display: flex;
        gap: 0px 10px;
    }
    .boton1{
        display: flex;
        flex-wrap: wrap;
        width: 80px;
        height: 27px;
        margin-right: 0;
    }
    .boton1:hover{
        transform: scale(1.1);
    }
}