:root{
    --white: rgb(255, 255, 255,1);
    --black: rgb(0, 0, 0);
    --Very-light-pink: rgb(199, 199, 199);
    --Text-input-field: rgb(247, 247, 247);
    --Hospital-green: rgb(172, 217, 178);
    --Font-family-Quicksand:"Quicksand", sans-serif;
    --Font-family-Roboto: "Roboto", sans-serif;
    --tont-family-tex-gris: rgba(121,121,121,1);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 420px;
    height: 80px;
    border-bottom: 1px solid rgb(99, 98, 98);
}
section{
    min-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
section h1{
    width: 238px;
    font-family: var(--Font-family-Quicksand);
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 20px auto;
    text-align: justify;
}
.contenido{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primer{
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagen{
    order: 1;
    width: 420px;
}
.loguito{
    width: 418px;
    height: 210px;
}
.botones{
    width: 200px;
    margin: 0 auto;
    margin-top: 27px;
    display: flex;
    gap: 0px 10px;
}
.boton1{
    width: 120px;
    height: 40px;
    background-color: var(--Hospital-green);
    border-radius: 8px;
    border: 1px solid var(--Hospital-green);
    
}