@media (min-width:376px){
    :root{
        --white: rgb(255, 255, 255,1);
        --black: rgb(0, 0, 0);
        --Very-light-pink: rgb(199, 199, 199);
        --Text-input-field: rgb(247, 247, 247);
        --Hospital-green: rgb(172, 217, 178);
        --Font-family-Quicksand:"Quicksand", sans-serif;
        --Font-family-Roboto: "Roboto", sans-serif;
        --tont-family-tex-gris: rgb(121, 121, 121);
    }
    header{
        padding-left: 5px;
        width: 100%;
        gap: 0px 30px;
    }
    body{
        min-width: 386px; 
        position: absolute;
        right: 0;
    }
    .imagen0{
        display: none;
    }
    .atras{
        display: block;
        width: 20px;
        height: 13px;
    }
    .titulo{
        font-size: 18px;
        line-height: 22.5px;
    }
}