:root{
    --white: rgb(255, 255, 255,1);
    --black: rgb(0, 0, 0);
    --Very-light-pink: rgb(199, 199, 199);
    --Text-input-field: rgb(247, 247, 247);
    --Hospital-green: rgb(172, 217, 178);
    --Font-family-Quicksand:"Quicksand", sans-serif;
    --Font-family-Roboto: "Roboto", sans-serif;
    --tont-family-tex-gris: rgba(121,121,121,1);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 375px;
    height: auto;
    padding: 0px 12px;
}
header{
    max-width: 375px;
    height: 46px;
    display: flex;
    gap: 0px 100px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
section{
    width: 375px;
    padding-right: 10px;
}
.atras{
    display: none;
}
.titulo{
    color: var(--black);
    font-size: 16px;
    font-family: var(--Font-family-Quicksand);
    font-weight: 700;
    line-height: 20px;
}
.caja{
    display: flex;
    flex-direction: column;
    gap: 12px 0px;
}
.subcaja{
    display: flex;
    justify-content: space-between;   
}
.imagen1{
    width: 76px;
    height: 76px;
}
.subcaja0{
    display: flex;
    gap: 0px 10px;
    align-items: center;
}
.subcaja1{
    display: flex;
    gap: 0px 20px;
    align-items: center;
}
.cerrar{
    width: 12px;
    height: 12px;
}
.todo{
    width: 339px;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(247, 247, 247, 1);
    padding: 0px 12px;
    margin: 15px auto;
    border-radius: 8px;
}
.Total{
    color: var(--black);
    font-size: 14px;
    font-family: var(--Font-family-Quicksand);
    font-weight: 700;
    line-height: 17.5px;
}
.dinero{
    color: var(--black);
    font-size: 16px;
    font-family: var(--Font-family-Quicksand);
    font-weight: 700;
    line-height: 18.75px;
}
.pagar{
    margin: 0 auto;
    width: 339px;
    height: 59px;
    background-color: var(--Hospital-green);
    border-radius: 8px;
    border: 1px solid rgba(172, 217, 178, 1)
}
.span{
    color: var(--white);
    font-size: 18px;
    font-family: var(--Font-family-Quicksand);
    font-weight: 700;
    line-height: 22.5px;
}
