@media (min-width:376px){
    body{ 
        width: 100%;
        margin-left: 27px;
        margin-right: 27px;
    }
    header{
        line-height: 46px;
        min-width: 100%;
    }
    section{
        min-width: 1240px;
    }
    .imagen1{
        display: none;
    }
    .imagen2{
        display: none;
    }
    .imagen3{
        display: none;
    }
    .logo{
        display: block;
        width: 144px;
    }
    .desktop3{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .desktop2{ 
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 330px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .titulo44{
        display: flex;
        flex-grow: 1;
        width: 174.5px;
        height: 46px; 
        line-height: 46px;  
        justify-content: end;   
        margin-right: 5px;
    }
    .titulo44 a{
        text-decoration: none; 
        color: rgba(0, 0, 0, 1);
        font-size: 14px;
        font-family: var(--Font-family-Quicksand);
        font-weight: 300;
    }
    .nav a{
        color:rgba(199, 199, 199, 1);
        font-size: 16px;
        font-family: var(--Font-family-Quicksand);
        font-weight: 500;
        line-height: 20px;
        flex-wrap: wrap;
    }
    .icono22{
        display: block;
        width: 7px;
        height: 4px;
        align-content: center;
        margin-right: 40px;
    }
    .imagen33{
        margin-right: 27px;
    }
    .contenedor-desktop{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 40px;
    }
    .desktop{
        display: none
    }
    .busqueda{
        width: 339px;
        height: 42px;
    }
    .parrafo{
        width: 137px;  
    }
    .busqueda, .parrafo {
        margin: 0px 5px;
    }
    .tienda{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .productos-totales{
        margin: 0 auto;
        margin-top: 30px;
        width: 99%;
        display: flex;
        justify-content: center;
    }
    .producto1{
        width: 216px;
        height: 269px;
    }
    .imagen5{
        width: 216px;
        height: 216px;
    }
    .agregar{
        margin-left: 98px;
    }
}